fastapi
uvicorn[standard]

pydentic[email]
pydantic-settings

asyncpg
sqlalchemy[asyncio]
alembic

passlib[bcrypt]
python-jose
python-dotenv
python-multipart

pytest
pytest-asyncio
httpx

python-dotenv

jinja2
aiosmtplib
txt